<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.almasosorio.sharethatbill" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ActivityMain"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name=".ActivityBillDetails"
            android:label="@string/title_activity_activity_bill_details" >
        </activity>

        <activity
            android:name=".ActivityCreateGroup"
            android:label="@string/title_activity_activity_create_group" >
        </activity>

        <activity
            android:name=".ActivityNewBill"
            android:label="@string/title_activity_activity_new_bill" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ActivityViewGroup"
            android:label="@string/title_activity_activity_view_group" >


        </activity>
    </application>

</manifest>
